body {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.Container {
  width: 1170px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.Top_Section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Route_Page {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 70px 0 80px 0;
  padding: 0;
}

#Route_Page a {
  color: rgb(0, 0, 0, 0.5);
}

#Route_Page span {
  color: rgb(0, 0, 0, 1);
}

#Account_Name span {
  color: #db4444;
  text-transform: uppercase;
}

.Mid_Section {
  width: 100%;
  height: fit-content;
  display: flex;
}
.Mid_Section .Left_Section {
  width: 300px;
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
}

.Mid_Section .Left_Section h3 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0);
  margin: 0 0 16px 0;
  padding: 0;
  cursor: default;
}

.Mid_Section .Left_Section #WishList {
  cursor: pointer;

  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}

.Mid_Section .Left_Section ul {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0);
  margin: 0 0 24px 0;
  padding: 0;
}

.Mid_Section .Left_Section ul li {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 8px 35px;
  padding: 0;
  list-style: none;
  cursor: pointer;

  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}

.Mid_Section .Left_Section #WishList:hover,
.Mid_Section .Left_Section ul li:hover {
  color: #ff5c5c;
}

.Mid_Section .Left_Section #WishList:active,
.Mid_Section .Left_Section ul li.active {
  color: #db4444;
}

.active {
  color: #db4444;
}

.Mid_Section .Right_Section {
  width: calc(870px - 80px - 80px);
  max-width: calc(870px - 80px - 80px);
  height: fit-content;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  background-color: white;
  border-radius: 4px;

  -webkit-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);

  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}

.Mid_Section .Right_Section #Edite_Profile {
  display: flex;
  flex-direction: column;
}

.Mid_Section .Right_Section #Edite_Profile h2,
.Mid_Section .Right_Section #Title {
  font-size: 20px;
  font-weight: 500;
  color: #db4444;
  margin: 0 0 16px 0;
  padding: 0;
  text-transform: capitalize;
}

.Mid_Section .Right_Section #Edite_Profile div {
  display: flex;
}
.Section {
  margin-bottom: 24px;
}

.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(1) div,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(2) div,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(3) div {
  display: flex;
  width: 330px;
  height: 82px;
  flex-direction: column;
}

.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(1) div:first-of-type,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(2) div:first-of-type,
.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(3)
  div:first-of-type {
  margin: 0;
  margin-right: auto;
}

.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(1) div label,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(2) div label,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(3) div label,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(4) label {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin: 0 0 auto 0;
  padding: 0;
  text-transform: capitalize;
}
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(1) div input,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(2) div input,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(3) div input,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(4) input {
  width: calc(100% - 16px - 16px);
  height: calc(50px - 13px - 13px);
  outline: 1px solid transparent;
  border-radius: 4px;
  border: none;
  background: #f5f5f5;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.5);
  margin: 0;
  padding: 13px 16px;
  letter-spacing: 1px;

  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}
.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(1)
  div
  label:hover
  input,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(1) div input:hover,
.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(2)
  div
  label:hover
  input,
.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(3)
  div
  label:hover
  input,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(2) div input:hover,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(3) div input:hover,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(4) label:hover input,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(4) input:hover {
  outline: 1px solid rgb(0, 0, 0, 0.5);
}
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(1) div input:focus,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(2) div input:focus,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(3) div input:focus,
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(4) input:focus {
  color: #000;
  background: #fff;
  outline: 1px solid #db4444;
}

/* Passwords */
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  width: 710px;
  height: fit-content;
  gap: 16px;
}

.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(4) div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 16px;
}

.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(4)
  div:first-of-type
  div:first-of-type {
  margin-bottom: calc(24px - 16px);
}

/* Button's */
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(5) {
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(5) span {
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: calc(100% - 10px - 180px - 136px);
  height: 0;
  color: #595959;
  margin-left: 10px;

  overflow: hidden;
  letter-spacing: normal;
  text-wrap: nowrap;

  -webkit-transition: all 1.32s ease-out;
  -moz-transition: all 1.32s ease-out;
  -o-transition: all 1.32s ease-out;
  transition: all 1.32s ease-out;
}
.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(5) div {
  display: flex;
  height: fit-content;
  width: 100%;
}

.Mid_Section .Right_Section #Edite_Profile div:nth-of-type(5) div button {
  width: fit-content;
  height: fit-content;
  padding: 16px 48px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: 400;
  cursor: pointer;

  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}

.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(5)
  div
  button:first-of-type {
  background-color: transparent;
  color: #000;
  margin-left: auto;
}
.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(5)
  button:last-of-type {
  background-color: #db4444;
  color: #fff;
}

.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(5)
  div
  button:last-of-type:hover {
  background-color: #ff5c5c;
}
.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(5)
  button:last-of-type:active {
  background-color: #db4444;
}
.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(5)
  div
  button:first-of-type:hover {
  color: #ff5c5c;
}
.Mid_Section
  .Right_Section
  #Edite_Profile
  div:nth-of-type(5)
  div
  button:first-of-type:active {
  color: #db4444;
}

/* Error Msg, incase nothing loaded or server went down */
.Form_ErrorMsg {
  display: none;
  width: fit-content;
  height: fit-content;
  color: rgb(0, 0, 0, 0.75);
  text-align: center;
  margin: 0 auto;
}

.Msg_404 {
  width: 100%;
  height: fit-content;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Msg_404 img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.Msg_404 p {
  width: 100%;
  color: rgb(0, 0, 0, 0.75);
  font-size: 24px;
  text-align: center;
  margin-bottom: 55px;
}

/* Standars */

.dot {
  height: 4px;
  width: 4px;
  background-color: #7a7a7a;
  border-radius: 50%;
  display: flex;
  margin-right: 10px;
}
/* End Standars */

.Orders_List {
  display: flex;
  flex-direction: column;

  max-width: 765px;
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  max-height: 600px;
  margin-top: 28px;
  gap: 16px;
}

.Orders_List-List::-webkit-scrollbar,
.Orders_List::-webkit-scrollbar-button {
  display: none;
  -ms-overflow-style: none;
}

.Order {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 640px;
  width: auto;
  height: fit-content;
  border-radius: 8px;

  padding: 12px;

  background-color: #f5f5f5;
  /* overflow: hidden; */

  transition: all 0.25s ease-in-out;

  cursor: default;
}

.Top-Section,
.Top-Section-left,
.Top-Section-Right {
  display: flex;
}

.Top-Section-left div {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 5px;
  gap: 24px;
  transition: all 0.25s ease-in-out;
}

.Top-Section {
  width: 100%;
  transition: 0.32s ease-in;
}

.Top-Section .Icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  margin-right: 15px;

  transition: all 0.15s ease-out;
}

.OrderColor {
  background-color: #db4444;
}
.ReturnColor {
  background-color: #184a48;
}
.CancelColor {
  background-color: #df9516;
}

.Top-Section .Icon svg path {
  fill: white;
  height: auto;
}

.BoxOpen {
  display: none;
}

.Order .Top-Section-left {
  height: fit-content;
  width: fit-content;
}

.Order .Top-Section-left h4,
.Order .Top-Section-left p {
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
  display: flex;
  height: fit-content;
  align-items: center;
  color: hsla(0, 0%, 0%, 0.5);
}

.Order .Top-Section-left h4 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  height: fit-content;
}
.Order .Top-Section-left p {
  font-size: 16px;
  font-weight: 400;
}

.Order .Top-Section span {
  color: hsla(0, 0%, 0%, 1);
}

.Top-Section-Right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: auto;
  margin: 00 0 0 auto;
  align-content: flex-end;
  align-items: flex-end;
  margin-top: 2px;

  transition: all 0.25s ease-in-out;
}
.Top-Section-Right p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-wrap: nowrap;
  vertical-align: middle;
  display: flex;
  min-height: 27.5px;
  align-items: center;
  color: hsla(0, 0%, 0%, 1);
}

/**** DropDown Menu *****/
/* Dropdown Button */
.dropdown {
  display: none;
  position: relative;
}

.dropbtn {
  position: relative;

  background-color: transparent;
  color: rgb(24, 74, 72, 0.7);
  width: 130px;
  height: 28px;

  border-radius: 2px;
  padding: 0 12px;
  margin-top: auto;
  font-size: 12px;
  font-weight: 300;
  border: 1px solid rgb(24, 74, 72, 0.5);
}

.dropbtn svg {
  margin-left: 12px;
  transition: all 0.32s ease-in;
}

.dropdown-content {
  display: none;
  flex-direction: column;

  position: absolute;

  background-color: rgb(24, 74, 72, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);

  border: 1px solid rgb(24, 74, 72, 0.5);

  width: 128px;
  height: fit-content;
  padding: 6px 0;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  gap: 5px;
  border-radius: 2px;
}

.dropdown-content button {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 5px 0;
  background-color: transparent;
  color: white;
  outline: 0;
  border: 0;
}

.dropdown-content button svg {
  margin: 0 12px 0 13px;
}

.dropdown-content button:hover {
  background-color: #dddddd3c;
}

.dropbtn:hover {
  background-color: rgb(24, 74, 72, 0.5);
  color: white;
}

.dropbtn:active {
  background-color: rgb(24, 74, 72, 0.7);
  color: white;
}

.dropbtn:hover svg path {
  stroke: white;
}

/* Start Toggel */
.UnDetailed_TS_Icon {
  width: 31px;
  height: 31px;
}

.Detailed_TS_Icon {
  width: 64px;
  height: 64px;
}

.Detailed_TS_Left {
  flex-direction: column;
  justify-content: space-between;
  height: 64px;
  width: auto;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 2px;
  transition: all 0.15s ease-out;
}

.UnDetailed_TS_Left {
  flex-direction: row;
  width: fit-content;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 49px;
}

/* End Toggel */

/**** Middle Section ****/
.Middle-Section {
  display: none;
  width: auto;
  height: fit-content;
  flex-direction: row;
  align-items: center;

  margin: 20px auto 8px 13px;
}

.Middle-Section .Middle-Section-Msg {
  margin: 0;
  padding: 0;
  display: flex;
  height: fit-content;
  align-items: center;

  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  text-wrap: nowrap;
}

/* ** *** Bottom Section *** ** */
.Bottom-Section {
  display: none;
  flex-direction: column;
  width: 100%;

  height: auto;
  background-color: white;
  border-radius: 2px;
  margin-top: 12px;
}

.Bottom-Section-Header {
  display: flex;
  align-items: center;
  width: calc(100% - 24px - 24px);
  height: 44px;
  margin-top: 12px;
  border-bottom: 0.5px solid rgb(0, 0, 0, 0.4);
  margin: 0 24px;
}
.Bottom-Section-Header p {
  font-size: 14px;
  color: rgb(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}
.Bottom-Section-Header p:nth-of-type(1) {
  width: auto;
  text-align: left;
  margin-right: auto;
}
.Bottom-Section-Header p:nth-of-type(2) {
  width: 70px;
  text-align: center;
  margin-right: 30px;
}
.Bottom-Section-Header p:nth-of-type(3) {
  width: 100px;
  text-align: right;
}

.Bottom-Section-List {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  width: 100%;
  height: fit-content;
  max-height: 150px;
  gap: 12px;
  padding-top: 12px;
  margin-bottom: 12px;
}
.Bottom-Section-List::-webkit-scrollbar,
.Bottom-Section::-webkit-scrollbar-button {
  display: none;
  -ms-overflow-style: none;
}

.Bottom-Section-Item {
  display: flex;
  align-items: center;
  width: calc(100% - 24px - 24px);
  height: fit-content;
  margin: 0 24px;
}

.Bottom-Section-Item .itemInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: fit-content;
  margin-right: 17px;
  text-align: left;
}

.Bottom-Section-Item p {
  font-size: 16px;
  margin-right: auto;

  padding: 0;
}

.Bottom-Section-Item .itemInfo img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

.Bottom-Section-Item span:nth-of-type(1) {
  width: 70px;
  text-align: center;
  margin-right: 30px;
}

.Bottom-Section-Item span:nth-of-type(2) {
  width: 100px;
  text-align: right;
}

/**** Loading ****/
/**** Skeleton Loading ****/
.LoadingRocordsSvg path,
.LoadingSvg path {
  stroke: #d5d5d5;
  stroke-width: 14;
  stroke-linecap: round;
  fill: none;
  animation: Svg-loading 1.5s infinite ease-in-out;
}

@keyframes Svg-loading {
  0% {
    stroke: #d5d5d5;
  }
  50% {
    stroke: #e0e0e0;
  }
  100% {
    stroke: #d5d5d5;
  }
}
.LoadingRocordsSvg rect,
.LoadingOrderSvg,
.iconWait,
.LoadingIcon {
  opacity: 100%;
  animation: Icon-loading 1.5s infinite ease-in-out;
}

@keyframes Icon-loading {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}

/* Loding */
.LoadingOrder {
  display: flex;
  align-items: center;

  min-width: 640px;
  width: auto;
  border-radius: 8px;

  background-color: #f5f5f5;
  overflow: hidden;

  transition: all 0.25s ease-in-out;

  cursor: wait;
  width: 100%;
  height: 55px;
}

.LoadingOrder div:nth-of-type(1) {
  min-width: 31px;
  min-height: 31px;
  margin: 0 29px 0 12px;
  border-radius: 50%;
}

.LoadingOrder div:nth-of-type(2) {
  display: flex;
  align-items: center;
  height: fit-content;
  width: auto;
  margin-right: auto;
  gap: 29px;
}

.LoadingOrder div:nth-of-type(3) {
  margin-right: 12px;
}
