{# Adding StyleSheet #}
<head>
	<link rel="stylesheet" href="{{ asset('Components/Footer/Style.css') }}">
</head>

{# Adding Html #}
<Footer>
	<div class="footerContainer">
			<img src="{{ asset('img/FooterInfo.png') }}" alt="FooterInfo">
	</div>
    <p>© Copyright 2022. All right reserved</p>
</Footer>
