{# Adding StyleSheet #}
<head>
	<link rel="stylesheet" href="{{ asset('Components/Header/Style.css') }}">
</head>

{# Adding Html #}
<div id="Header_Top">
	<p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
	<a href="">
		<b>ShopNow</b>
	</a>
</div>

<header>
	<div id="Header_Bottom">
		<h1>Exclusive.</h1>
		<nav>
			<ul>
				<li><a href="{{path('home')}}">Home</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">About</a></li>
			</ul>
		</nav>
		<div>
			<form method="GET" action="{{ path('search') }}">
				<div class="search-bar">
					<button type="submit">
						<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M21 21L16.65 16.65" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</button>
					<input type="text" name="searchInput" id="searchInput" placeholder="What are you looking for?">
				</div>
			</form>
			<a href="">
				<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="32" height="32" rx="16" fill="transparent"/>
					<path d="M11.25 26.25C11.6642 26.25 12 25.9142 12 25.5C12 25.0858 11.6642 24.75 11.25 24.75C10.8358 24.75 10.5 25.0858 10.5 25.5C10.5 25.9142 10.8358 26.25 11.25 26.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M21.75 26.25C22.1642 26.25 22.5 25.9142 22.5 25.5C22.5 25.0858 22.1642 24.75 21.75 24.75C21.3358 24.75 21 25.0858 21 25.5C21 25.9142 21.3358 26.25 21.75 26.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M5.25 9.75H8.25L10.5 22.5H22.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M10.5 18.5H22.1925C22.2792 18.5001 22.3633 18.4701 22.4304 18.4151C22.4975 18.3601 22.5434 18.2836 22.5605 18.1986L23.9105 11.4486C23.9214 11.3942 23.92 11.338 23.9066 11.2841C23.8931 11.2303 23.8679 11.1801 23.8327 11.1372C23.7975 11.0943 23.7532 11.0597 23.703 11.036C23.6528 11.0122 23.598 11 23.5425 11H9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<circle
					cx="24" cy="9" r="8" fill="#DB4444"/>
					<!-- Centered Text -->
					<text x="24" y="9" text-anchor="middle" dy=".3em" font-size="12" fill="white">2</text>
				</svg>
			</a>
			<a href="{{ path('dashboard') }}">
				<svg width="33" height="32" viewbox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="0.5" width="32" height="32" rx="16" fill="#DB4444"/>
					<path d="M21.5 23V21.3333C21.5 20.4493 21.191 19.6014 20.6408 18.9763C20.0907 18.3512 19.3446 18 18.5667 18H13.4333C12.6554 18 11.9093 18.3512 11.3592 18.9763C10.809 19.6014 10.5 20.4493 10.5 21.3333V23" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M16.5 15C18.1569 15 19.5 13.6569 19.5 12C19.5 10.3431 18.1569 9 16.5 9C14.8431 9 13.5 10.3431 13.5 12C13.5 13.6569 14.8431 15 16.5 15Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</a>
		</div>
	</div>
</header>

