<!DOCTYPE html>
<html>
	<head>
		<title>My Cart</title>
		<link rel="stylesheet" href="{{ ('Pages/CartPage/Style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ ('img/icon/Icon.png') }}">
	</head>
	<body>
		{# Header Section #}
		{{ include('components/Header/Header.html.twig') }}
		{# Adding Products Section #}
		<div class="Container">
			
		</div>
		{# Footer Section #}
		{{ include('components/Footer/Footer.html.twig') }}
	</body>
</html>
