<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<title>Home Page</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ ('img/icon/Icon.png') }}">
    </head>
    <body>
            {# Header Section #}
    		{{ include('components/Header/Header.html.twig') }}
            {# Body Section #}
    		{{ include('Pages/LandingPage/LandingPage.html.twig') }}
            
    </body>
</html>
