#Header_Top {
  width: 100%;
  height: 48px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#Header_Top p {
  color: #fff;
  margin-right: 8px;
}
#Header_Top a {
  color: #fff;
  text-decoration: underline;

  -webkit-transition: fill 0.32s ease-out;
  -moz-transition: fill 0.32s ease-out;
  -o-transition: fill 0.32s ease-out;
  transition: fill 0.32s ease-out;
}
#Header_Top a:hover {
  color: #db4444;
}

header {
  width: 100%;
  height: fit-content;
  padding: 40px 0 16px 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #000;
}

#Header_Bottom {
  width: 1170px;
  height: 38px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#Header_Bottom h1 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-right: 160px;
}
#Header_Bottom h1:hover {
  cursor: default;
}
#Header_Bottom div,
#Header_Bottom nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Header_Bottom nav {
  width: fit-content;
  margin-right: auto;
}

#Header_Bottom nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#Header_Bottom nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#Header_Bottom nav ul li a {
  padding: 7px 24px;
  /* color: #000; */
}

.ParentPage_False {
  color: #000;
}
.ParentPage_True {
  color: #db4444;
}
#Header_Bottom nav ul li a:hover {
  color: #db4444;
}

#Header_Bottom div {
  width: fit-content;
  height: calc(100%);
}

#Header_Bottom div .search-bar {
  position: relative;
  margin-right: 24px;
}
#Header_Bottom div .search-bar button {
  position: absolute;
  right: 5px;
  background: none;
  outline: none;
  border: none;

  cursor: pointer;
}

.Button_False {
  stroke: rgb(0, 0, 0, 1);
}

.Button_True:hover svg path {
  stroke: #db4444;
  -webkit-transition: stroke 0.32s ease-out;
  -moz-transition: stroke 0.32s ease-out;
  -o-transition: stroke 0.32s ease-out;
  transition: stroke 0.32s ease-out;
}

#Header_Bottom div input {
  position: relative;
  width: 243px;
  height: 38px;
  padding: 0 50px 0 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  outline: none;
}
#Header_Bottom div input:focus {
  outline: 0.5px solid #db4444;
}
#Header_Bottom div input::placeholder {
  font-size: 12px;
  color: #474747;
}

#Header_Bottom div button {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin-left: 17px;
  outline: 0;
  border: 0;
  
  background-color: white;
  border-radius: 16px 16px 0px 0px;
  -webkit-border-radius: 16px 16px 0px 0px;
  -moz-border-radius: 16px 16px 0px 0px;
}

#Header_Bottom div a:nth-of-type(1),
#Header_Bottom div button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Header_Bottom div a:nth-of-type(1) svg,
#Header_Bottom div button svg {
  width: 32px;
  height: 32px;
}

#Header_Bottom div a:nth-of-type(1) svg rect,
#Header_Bottom div button svg rect {
  -webkit-transition: fill 0.32s ease-out;
  -moz-transition: fill 0.32s ease-out;
  -o-transition: fill 0.32s ease-out;
  transition: fill 0.32s ease-out;
}

#Header_Bottom div a:nth-of-type(1):hover svg rect,
#Header_Bottom div button:hover svg rect {
  fill: #d9d9d9;
}

#Header_Bottom div a:nth-of-type(1):hover svg path,
#Header_Bottom div button:hover svg path {
  stroke: #000;
}

/* **** Drop Down Menu **** */
#Header_Bottom #DropDown_Menu {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top: 34px;
  right: 0;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  padding: 5px 0;
  gap: 2px;

  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}

#Header_Bottom #DropDown_Menu a {
  width: 216px;
  height: 40px;
  margin: 0 5px;
  font-size: 14px;
  color: white;
  border-radius: 2px;
  padding: 0 0 0 5px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 0.25px solid transparent;
  background-color: #ffffff00;

  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}

#Header_Bottom #DropDown_Menu a svg {
  width: auto;
  height: 24px;
  margin: 0 16px 0 12px;
}

#Header_Bottom #DropDown_Menu a svg path {
  stroke: #fff;
}

#Header_Bottom #DropDown_Menu a:hover {
  background-color: #ffffff4e;
}

#Header_Bottom #DropDown_Menu a:active {
  background-color: #ffffffa9;
}